<!-- ------------------Page that shows List of all Causes and let's you add them to your Profile------------------- -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A layout example that shows off a responsive product landing page.">

    <title>All Good Deeds</title>

<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

<!--[if lte IE 8]>
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  
<![endif]-->
<!--[if gt IE 8]><!-->
  
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  
<!--<![endif]-->

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/layouts/marketing.css">
    <!--<![endif]-->
</head>
<body>


<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">all good deeds</a>

<!--         <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tour</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign Up</a></li>
        </ul> -->
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Commit to Doing Good</h1>
        <h3 class="splash-subhead">
            Check out the Deed List Below
        </h3>
        <p>
            <a href="/causes" class="pure-button pure-button-primary">Or Add Cause Categories Here</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Come down here and let's get to work making a difference!</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-3">

                <h3 class="content-subhead">
                    
                    <form action="/users/<%= @user.id %>/users_deeds" method="post"><input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />Commit to <%= @deed.category %> today!</h3>
                    <p>Click the button to add this deed to your deed list on your profile.</p>
                    <input name="deed_id" type="hidden" value="<%= @deed.id %>" />
                    <button type="submit"><%= @deed.category %></button></form>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>These are the organizations for <%= @deed.category %>:</h3>
                    <% @organizations.each do |organization| %>
                       <p>- <%= organization.name %> </p>
                    <% end %>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-3">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Be Sure to also Add a Cause
                </h3>
                <p>When you add causes to your profile, your deed list becomes more and more catered to what you care about most, <a href="/causes">so get to caring!</a> 
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
            <img class="pure-img-responsive" width="500px" src="https://download.unsplash.com/29/great-plain.jpg">
        </div>
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
            <img class="pure-img-responsive" width="500px" src="https://download.unsplash.com/29/great-plain.jpg">
        </div>
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-1-5">
            <img class="pure-img-responsive" width="500px" src="https://download.unsplash.com/29/great-plain.jpg">
        </div>
    </div>

    <div class="content">
        <h3 class="content-head is-center">It is every man's obligation to put back into the world at least the equivalent of what he takes out of it.</h3><h5 class="content-head is-center">- Albert Einstein</h5>
    </div>

    <div class="footer l-box is-center">
        AllGoodDeed.org Copyright 2015 Site Design: cSadauskasDesign
    </div>

</div>
</body>
